@model EksperciOnline.Models.ViewModels.EditCategoryRequest
@{
    ViewData["Title"] = "Edytuj Kategorię";
}

<div class="bg-light py-2">
    <div class="container">
        <h1>Edytuj kategorię</h1>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label>Nazwa kategorii</label>
                            <input type="text" class="form-control" id="id" asp-for="Id" readonly>
                        </div>
                        <div class="form-group">
                            <label>Nazwa kategorii</label>
                            <input type="text" class="form-control" id="nazwaKategorii" placeholder="Wprowadź nazwę kategorii" asp-for="NazwaKategorii">
                        </div>
                        <div class="form-group">
                            <label>URL zdjęcia</label>
                            <input type="text" class="form-control" id="urlZdjecia" placeholder="Wprowadź URL zdjęcia" asp-for="UrlZdjęcia">
                        </div>
                        <button type="submit" class="btn btn-info my-3">Edytuj</button>
                        <button type="submit" class="btn btn-danger my-3" asp-area="" asp-controller="AdminCategories" asp-action="Delete">Usuń</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>