@{
    ViewData["Title"] = "Kategorie";
}

<style>
    img {
        width: 150px;
        height: 150px;
        border-radius: 50%; /* Makes images circular */
    }
</style>

<div class="bg-light py-2">
    <div class="container">
        <h1>Kategorie</h1>
    </div>
</div>
<div class="container mt-4">
    <div class="container py-3">
        <button class="btn btn-info">
            <a class="nav-link" asp-area="" asp-controller="AdminCategories" asp-action="Add">Dodaj Kategorię</a>
        </button>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Zdjęcie</th>
                <th scope="col">Nazwa kategorii</th>
                <th scope="col">Akcje</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 1; i <= 4; i++)
            {
                <tr>

                    <td>@i</td>
                    <td><img src="https://images.pexels.com/photos/4226876/pexels-photo-4226876.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Zdjęcie"></td>
                    <td>Kategoria A</td>
                    <td><a class="btn btn-info" asp-area="" asp-controller="AdminCategories" asp-action="Edit">Edytuj</a></td>

                </tr>
            }
        </tbody>
    </table>
</div>

