@model List<EksperciOnline.Models.Domain.Kategoria>
@{
    ViewData["Title"] = "Kategorie";
}

<style>
    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }
</style>

<div class="bg-light py-2">
    <div class="container">
        <h1>Kategorie</h1>
    </div>
</div>
<div class="container mt-4">
    <div class="container py-3">
        <button class="btn btn-info">
            <a class="nav-link" asp-area="" asp-controller="AdminCategories" asp-action="Add">Dodaj Kategorię</a>
        </button>
    </div>
    @if (Model != null && Model.Any())
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Zdjęcie</th>
                    <th scope="col">Nazwa kategorii</th>
                    <th scope="col">Akcje</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kategoria in Model)
                {
                    <tr>
                        <td>@kategoria.Id</td>
                        <td><img src="@kategoria.UrlZdjęcia" alt="Zdjęcie"></td>
                        <td>@kategoria.NazwaKategorii</td>
                        <td><a class="btn btn-info" asp-area="" asp-controller="AdminCategories" asp-action="Edit" asp-route-id="@kategoria.Id">Edytuj</a></td>

                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Brak Kategorii</p>
    }
</div>

