@{
    ViewData["Title"] = "Profil";
}

<style>
    .rating {
        color: #ffdd00;
    }

    .avatar {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 5px solid white;
    }
</style>

<div class="container my-3 py-2">
    <div class="row">
        <div class="container bg-light p-3 mb-3 rounded-3">
            <div class="row">
                <div class="col-md-4">
                    <label>Imię i nazwisko</label>
                    <h2 class="fw-bold lh-1 mb-3">Adam Adam</h2>
                    <label>Numer Telefonu</label>
                    <h3 class="fw-bold lh-1 mb-3">123456789</h3>
                </div>
                <div class="col-md-5">
                    <label>Nazwa Użytkownika</label>
                    <h3 class="fw-bold lh-1 mb-3">Adamowski</h3>
                    <label>E-mail</label>
                    <h3 class="fw-bold lh-1 mb-3">adamowski@ekspert.online</h3>
                </div>
            </div>
            <a class="btn btn-info" asp-area="" asp-controller="Profile" asp-action="Edit">Edytuj Konto</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="container bg-light pt-2 mb-3 rounded-3">
            <h2 class="text-center fw-bold lh-1 mb-3">Moje Usługi</h2>
        </div>
        <a class="btn btn-info" asp-area="" asp-controller="Services" asp-action="Add">Dodaj Usługę +</a>
        @for (int i = 1; i <= 4; i++)
        {
            <div class="container bg-light p-3 mb-3 rounded-3">
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="https://via.placeholder.com/100" class="avatar" style="height: 150px; width: 150px;" alt="Placeholder Image">
                        <p class="rating">★★★★★<br />(256 votes)</p>
                    </div>
                    <div class="col-md-7">
                        <h4>Naprawa Laptopów, Poznań</h4>
                        <span class="badge bg-info">Informatyk</span>
                        <p>Naprawiam laptopy wszelkiej marki...</p>
                        <label>Usługodawca:</label>
                        <p>Adam Adam</p>
                    </div>
                    <div class="col-md-3 text-end">
                        <label>Cena</label>
                        <h4 class="fw-bold">500 - 800 PLN</h4>
                        <label>Numer Telefonu</label>
                        <h4>123456789</h4>
                        <label>Edytuj usługę</label><br />
                        <a class="btn btn-info mt-3" asp-area="" asp-controller="Services" asp-action="Edit">Edytuj</a>
                    </div>
                </div>
                <a class="btn btn-info" asp-area="" asp-controller="Services" asp-action="Show">Zobacz więcej <i class="bi bi-chevron-right"></i></a>
            </div>
        }
        

    </div>
</div>