@model EksperciOnline.Models.ViewModels.EditServiceRequest
@{
    ViewData["Title"] = "Dodaj Ofertę";
}

<style>
    .banner {
        position: relative;
        width: 100%;
        height: 300px;
        background: url('https://placehold.co/600x400') no-repeat center center;
        background-size: cover;
    }

    .avatar {
        position: absolute;
        bottom: 50px;
        left: 20%;
        transform: translateX(-50%);
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 5px solid white;
    }
</style>

<div class="container bg-light px-5 py-4">
    @if (Model != null)
    {
        <h2>Formularz Edytowania Usługi</h2>
        <form method="post">
            <!-- Tytuł Usługi -->
            <div class="form-group mb-2">
                <label>Id</label>
                <input type="text" class="form-control" id="id" required asp-for="Id" readonly>
            </div>

            <div class="form-group mb-2">
                <label>Tytuł Usługi*</label>
                <input type="text" class="form-control" id="tytuł" required asp-for="Tytuł">
            </div>

            <div class="container my-4">
                <div class="banner" id="bannerDiv">
                    <div class="row">
                        <div class="col-md-7">
                            <img src="https://placehold.co/400" alt="Avatar" class="avatar" id="avatarImg">
                        </div>
                        <div class="col-md-4 bg-black bg-opacity-75 my-2 text-center">
                            <h3 class="my-2" id="priceRange">Od - Do PLN</h3>
                            <a class="btn btn-info mb-2">Napisz do mnie</a><br />
                            <label class="mb-2">Lub zadzwoń do mnie</label>
                            <h4 id="phone">Numer Telefonu</h4>
                            <label class="mb-2">Usługodawca</label>
                            <h4 id="serviceProvider">Imię i Nazwisko</h4>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Avatar -->
            <div class="form-group mb-2">
                <label>Avatar</label>
                <input type="file" class="form-control" id="avatar" asp-for="UrlZdjęcia">
            </div>

            <!-- Zdjęcie Banera -->
            <div class="form-group mb-2">
                <label>Zdjęcie Banera</label>
                <input type="file" class="form-control" id="banner" asp-for="UrlBaneru">
            </div>

            <!-- Lokalizacja -->
            <div class="form-group mb-2">
                <label>Lokalizacja*</label>
                <input type="text" class="form-control" id="lokalizacja" required asp-for="Lokalizacja">
            </div>

            <!-- Numer Telefonu -->
            <div class="form-group mb-2">
                <label>Numer Telefonu</label>
                <input type="tel" class="form-control" id="nrTelefonu" asp-for="NrTelefonu">
            </div>

            <!-- Cena od - do -->
            <div class="form-row row mb-2">
                <div class="form-group col-md-6">
                    <label>Cena od*</label>
                    <input type="number" class="form-control" id="cenaOd" required asp-for="CenaOd">
                </div>
                <div class="form-group col-md-6">
                    <label>Cena do*</label>
                    <input type="number" class="form-control" id="cenaDo" required asp-for="CenaDo">
                </div>
            </div>

            <!-- Opis -->
            <div class="form-group mb-2">
                <label>Opis*</label>
                <textarea class="form-control" id="opis" rows="4" required asp-for="Opis"></textarea>
            </div>

            <!-- Krótki Opis -->
            <div class="form-group mb-2">
                <label for="shortDescription">Krótki Opis*</label>
                <textarea class="form-control" id="krótkiOpis" rows="2" required asp-for="KrótkiOpis"></textarea>
            </div>

            <!-- Wybierz kategorię -->
            <div class="form-group mb-2">
                <label>Wybierz kategorię*</label>
                <select class="form-control" id="kategoria" asp-items="@Model.Kategorie" asp-for="WybranaKategoria">
                </select>
            </div>

            <div class="form-group mb-2">
                <label>Autor</label>
                <input type="text" class="form-control" id="autor" asp-for="Autor">
            </div>

            <div class="form-group mb-2">
                <label>Data Publikacji</label>
                <input type="date" class="form-control" id="dataPublikacji" asp-for="DataPulikacji" readonly>
            </div>

            <div class="form-check form-switch mb-2">
                <input class="form-check-input" type="checkbox" id="widoczność" asp-for="Widoczność">
                <label class="form-check-label">Czy post ma być widoczny?</label>
            </div>

            <!-- Przycisk zatwierdzenia -->
            <div class="d-flex my-2">
                <button type="submit" class="btn btn-info">Edytuj</button>
                <button type="submit" class="btn btn-danger ms-2" asp-area="" asp-controller="Services" asp-action="Delete">Usuń</button>
            </div>
            
        </form>
    }
    else
    {
        <p>No Service Found</p>
    }
</div>

<script>
    document.getElementById('nrTelefonu').addEventListener('input', function () {
        document.getElementById('phone').innerText = this.value;
    });

    document.getElementById('cenaOd').addEventListener('input', updatePriceRange);
    document.getElementById('cenaDo').addEventListener('input', updatePriceRange);

    function updatePriceRange() {
        const cenaOd = document.getElementById('cenaOd').value;
        const cenaDo = document.getElementById('cenaDo').value;
        document.getElementById('priceRange').innerText = `${cenaOd} - ${cenaDo} PLN`;
    }

    document.getElementById('avatar').addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('avatarImg').src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    });

    document.getElementById('banner').addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('bannerDiv').style.backgroundImage = `url(${e.target.result})`;
            }
            reader.readAsDataURL(file);
        }
    });
</script>