@{
    ViewData["Title"] = "Oferty";
}

<style>
    .rating {
        color: #ffdd00;
    }
</style>


<div class="container my-3 py-2">
    <div class="row justify-content-center my-4">
        <div class="col-12 col-md-8 text-center">
            <h2 class="fw-bold lh-1 mb-3">Wyszukaj usługi</h2>
            <form class="d-flex justify-content-center">
                <div class="input-group">
                    <input class="form-control form-control-lg" type="text" placeholder="Szukaj" aria-label="Szukaj">
                    <input class="form-control form-control-lg" type="text" placeholder="Lokalizacja" aria-label="Lokalizacja" style="max-width: 200px;">
                    <button class="btn btn-info btn-lg" type="submit">Szukaj <i class="bi bi-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 bg-secondary bg-opacity-50 rounded-3">
            <div class="container p-3">
                <h4>Filtry</h4>
                <div class="form-group mb-2">
                    <label for="rating">Wybierz ocenę:</label>
                    <select class="form-control" id="rating">
                        <option>Dowolne</option>
                        <option>★★★★★</option>
                        <option>★★★★☆</option>
                        <option>★★★☆☆</option>
                        <option>★★☆☆☆</option>
                        <option>★☆☆☆☆</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label for="sort">Sortuj:</label>
                    <select class="form-control" id="sort">
                        <option>Trafność</option>
                        <option>Cena rosnąco</option>
                        <option>Cena malejąco</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label>Wybierz przedział cenowy</label>
                    <div class="form-group">
                        <label for="price-from">Cena od:</label>
                        <input type="range" class="form-control-range" id="price-from" min="0" max="2000" step="10">
                        <input type="number" id="price-from-display" class="form-control" readonly>
                    </div>
                    <div class="form-group">
                        <label for="price-to">Cena do:</label>
                        <input type="range" class="form-control-range" id="price-to" min="0" max="2000" step="10">
                        <input type="number" id="price-to-display" class="form-control" readonly>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <label for="category">Kategoria:</label>
                    <select class="form-control" id="category">
                        <option>Informatyk</option>
                        <option>Hydraulik</option>
                        <option>Stolarz</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container bg-secondary bg-opacity-50 p-3 mb-3 rounded-3">
                <div class="row">
                    <div class="col-md-2">
                        <img src="https://via.placeholder.com/100" class="img-thumbnail" style="height: 150px; width: 150px;" alt="Placeholder Image">
                        <p class="rating text-center">★★★★★<br />(256 votes)</p>
                    </div>
                    <div class="col-md-7">
                        <h4>Naprawa Laptopów, Poznań</h4>
                        <p>Naprawiam laptopy wszelkiej marki...</p>
                        <p>By Adam Adam</p>
                    </div>
                    <div class="col-md-3 text-end">
                        <h4 class="fw-bold">500 - 800 PLN</h4>
                    </div>
                </div>
                <a class="btn btn-info mt-3" href="#">Zobacz więcej <i class="bi bi-chevron-right"></i></a>
            </div>
            <div class="container bg-secondary bg-opacity-50 p-3 mb-3 rounded-3">
                <div class="row">
                    <div class="col-md-2">
                        <img src="https://via.placeholder.com/100" class="img-thumbnail" style="height: 150px; width: 150px;" alt="Placeholder Image">
                        <p class="rating text-center">★★★★★<br />(256 votes)</p>
                    </div>
                    <div class="col-md-7">
                        <h4>Naprawa Laptopów, Poznań</h4>
                        <p>Naprawiam laptopy wszelkiej marki...</p>
                        <p>By Adam Adam</p>
                    </div>
                    <div class="col-md-3 text-end">
                        <h4 class="fw-bold">500 - 800 PLN</h4>
                    </div>
                </div>
                <a class="btn btn-info mt-3" href="#">Zobacz więcej <i class="bi bi-chevron-right"></i></a>
            </div>
            <div class="container bg-secondary bg-opacity-50 p-3 mb-3 rounded-3">
                <div class="row">
                    <div class="col-md-2">
                        <img src="https://via.placeholder.com/100" class="img-thumbnail" style="height: 150px; width: 150px;" alt="Placeholder Image">
                        <p class="rating text-center">★★★★★<br />(256 votes)</p>
                    </div>
                    <div class="col-md-7">
                        <h4>Naprawa Laptopów, Poznań</h4>
                        <p>Naprawiam laptopy wszelkiej marki...</p>
                        <p>By Adam Adam</p>
                    </div>
                    <div class="col-md-3 text-end">
                        <h4 class="fw-bold">500 - 800 PLN</h4>
                    </div>
                </div>
                <a class="btn btn-info mt-3" href="#">Zobacz więcej <i class="bi bi-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>

<script>
    var priceFrom = document.getElementById('price-from');
    var priceFromDisplay = document.getElementById('price-from-display');
    var priceTo = document.getElementById('price-to');
    var priceToDisplay = document.getElementById('price-to-display');

    function updateValues() {
        var fromValue = parseInt(priceFrom.value);
        var toValue = parseInt(priceTo.value);

        if (fromValue > toValue) {
            priceTo.value = fromValue;
            toValue = fromValue;
        }

        priceFromDisplay.value = fromValue;
        priceToDisplay.value = toValue;
    }

    priceFrom.addEventListener('input', updateValues);
    priceTo.addEventListener('input', updateValues);

    updateValues(); // Inicjalna aktualizacja wartości
</script>