@model EksperciOnline.Models.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Logowanie";
}

<div class="container d-flex justify-content-center min-vh-100">
    <div class="bg-light p-4" style="max-width: 500px; width: 100%;">
        <h2 class="text-center pt-5 mb-5">Logowanie</h2>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="text-danger">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <span>@error.ErrorMessage</span>
                }
            </div>
        }
        <form method="post">
            <div class="form-group mb-3">
                <label for="username">Nazwa użytkownika</label>
                <input type="text" class="form-control" id="nazwaUżytkownika" placeholder="Wprowadź nazwę użytkownika" asp-for="Username" required />
                <span class="text-danger" asp-validation-for="Username"></span>
            </div>

            <div class="form-group mb-3">
                <label for="password">Hasło</label>
                <input type="password" class="form-control" id="hasło" placeholder="Wprowadź hasło" asp-for="Password" required minlenght="6" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

            <div class="form-group mb-3">
                <a href="#">Nie pamiętasz hasła?</a>
            </div>

            <button type="submit" class="btn btn-info btn-block">Zaloguj się</button>

            <input type="hidden" asp-for="ReturnUrl" />
        </form>
    </div>
</div>