@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Dodaj nową kategorię</h1>
    </div>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="nazwa-kategorii">Nazwa kategorii</label>
                            <input type="text" class="form-control" id="nazwa-kategorii" placeholder="Wprowadź nazwę kategorii">
                        </div>
                        <div class="form-group">
                            <label for="url-zdjecia">URL zdjęcia</label>
                            <input type="text" class="form-control" id="url-zdjecia" placeholder="Wprowadź URL zdjęcia">
                        </div>
                        <button type="submit" class="btn btn-primary my-3">Wyślij</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>