@{
    ViewData["Title"] = "Logowanie";
}

<div class="container d-flex justify-content-center min-vh-100">
    <div class="bg-secondary bg-opacity-50 p-4" style="max-width: 500px; width: 100%;">
        <h2 class="text-center pt-5 mb-5">Logowanie</h2>
        <form>
            <div class="form-group mb-2">
                <label for="username">Nazwa użytkownika</label>
                <input type="text" class="form-control" id="username" placeholder="Wprowadź nazwę użytkownika">
            </div>
            <div class="form-group mb-2">
                <label for="password">Hasło</label>
                <input type="password" class="form-control" id="password" placeholder="Wprowadź hasło">
            </div>
            <div class="form-group mb-2">
                <a href="#">Nie pamiętasz hasła?</a>
            </div>
            <button type="submit" class="btn btn-info btn-block">Zaloguj się</button>
        </form>
    </div>
</div>